@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');


.restaurant-directory{
    font-family: 'Muli', sans-serif;
    padding-top: 2rem;

}



/* HEADING */

.heading-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.restaurant-directory h1{
    font-weight: bolder;
}

.squiggle{
    height: 15px;
    width: 115px;
    margin-right: 50px;
}

/* CARDS */

.card{
    width: 18rem;
}

.card-wrapper{
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.card-title{
    font-weight: 600;
}

.card-subtitle{
    font-weight: 600;
}

.download-text{
    color: #F93822;
}

.app-icon{
    height: 1.7rem;
}
